extends ./partials/layout
block contents
  .tinder
    header.contents-fullwidth
    section.contents
      .candidates
        .candidate.outline
          .tumbnail
          .caption
      .controllers
        .unlike
        .information
        .like
