doctype
html
  head
    meta(charset="UTF-8")
    title 効果ナビゲーター生誕２周年特設サイト 効果ナビゲータの軌跡
    link(rel='stylesheet', href='/assets/vendor/fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/assets/stylesheets/core.css')
    meta(name="viewport", content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1")

  body
    block contents
